<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person List</title>
</head>
<body>
    <h1>Person List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Suganya</td>
                <td> Rajesh </td>
                <td>Basgrand</td>
            </tr>
            <tr>
                <td>Suba</td>
                <td> Moorthy </td>
                <td>Basgrand</td>
            </tr>
            <tr>
                <td>Abinaya</td>
                <td> Arun </td>
                <td>Solna</td>
            </tr>
            <tr>
                <td>Amani</td>
                <td> Konka </td>
                <td>Solna</td>
            </tr>
            <tr>
                <td>Saranya</td>
                <td> Prem </td>
                <td>Solna</td>
            </tr>
           

        </tbody>
    </table>
</body>
</html>
